<div class="container_top">
    <div class="container_top_right">
         <div class="container_top_title">Change Password</div>
        <div class="container_top_text">
            <%= render 'page/alert' %>
            <div class="content_body">
                <%= form_for @user, :url => updatepassword_path do |f| %>
                    <% if @user.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@user.errors.count, "page") %> prohibited this user from being saved:</h2>
                            <ul>
                                <% @user.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                    <%= f.hidden_field :id %>
                    <%= f.hidden_field :change_password,:value=>true %>
                    <table width="100%" cellpadding="0" cellspacing="0">
                         <tr>
                            <td width="30%"><%= f.label :old_password %></td>
                            <td><%= f.password_field :old_password, :class=>'inputbox_form' %></td>
                        </tr>

                        <tr>
                            <td ><%= f.label :password%></td>
                            <td><%= f.password_field :password, :class=>'inputbox_form' %></td>
                        </tr>
                        <tr>
                            <td><%= f.label :password_confirmation %></td>
                            <td><%= f.password_field :password_confirmation, :class=>'inputbox_form' %></td>
                        </tr>
                        <tr>
                            <td colspan="2"><div class="update_pwd"> <%= f.submit "Update", :class=>'link_button' %></div></td>
                            <td></td>
                        </tr>
                    </table>
                <% end %>
            </div>
        </div>
    </div>
</div>
