<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @follower.user_id %>
</p>

<p>
  <b>Follower:</b>
  <%= @follower.follower_id %>
</p>


<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
