<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <table width="100%" cellpadding="1" cellspacing="1">
        <tr>
            <td> <%= f.label :type %></td>
            <td>  <%= f.select(:type, options_for_select([['Permanent Address', 'Permanent Address.'], ['Correspondence Address', 'Correspondence Address.'], ['Office Address', 'Office Address.'],]), {}, :class=>'select_form') %> </td>
        </tr>
        <tr>
            <td> <%= f.label :user_id %><em class="important">*</em></td>
            <td> <%= f.text_field :user_id, :class=>'inputbox_form' %> </td>
        </tr>
      <tr>
            <td> <%= f.label :country_id %><em class="important">*</em></td>
            <td> <%= f.text_field :country_id, :class=>'inputbox_form' %> </td>
        </tr>
      <tr>
            <td> <%= f.label :country_id %><em class="important">*</em></td>
            <td> <%= f.text_field :country_id, :class=>'inputbox_form' %> </td>
        </tr>
      <tr>
            <td> <%= f.label :state_id %><em class="important">*</em></td>
            <td> <%= f.text_field :state_id, :class=>'inputbox_form' %> </td>
        </tr>
      <tr>
            <td> <%= f.label :city_id %><em class="important">*</em></td>
            <td> <%= f.text_field :city_id, :class=>'inputbox_form' %> </td>
        </tr>
      <tr>
            <td> <%= f.label :line_one %><em class="important">*</em></td>
            <td> <%= f.text_field :line_one, :class=>'inputbox_form' %> </td>
        </tr>
      <tr>
            <td> <%= f.label :line_two %><em class="important">*</em></td>
            <td> <%= f.text_field :line_two, :class=>'inputbox_form' %> </td>
        </tr>
     <tr>
            <td> <%= f.label :line_three %><em class="important">*</em></td>
            <td> <%= f.text_field :line_three, :class=>'inputbox_form' %> </td>
        </tr>
     <tr>
            <td> <%= f.label :zip_code %><em class="important">*</em></td>
            <td> <%= f.text_field :zip_code, :class=>'inputbox_form' %> </td>
        </tr>

     </table>

  <div class="action">
        <%= f.submit "Submit", :class=>'action_button' %>
    </div>
<% end %>
