<div class="container_bottom">
    <div class="bottom_container">
        <div class="bottom_title"> Customer Service</div>
        <ul>
            <li>&radic;<%= link_to ' Terms & Conditions ', term_conditions_path %></li>
            <li>&radic;<%= link_to ' Privacy Policy ', term_conditions_path %></li>
            <li>&radic;<%= link_to ' Terms & Conditions ', term_conditions_path %></li>
            <li>&radic;<%= link_to ' Privacy Policy ', term_conditions_path %></li>

        </ul>
    </div>
    <div class="bottom_container">
        <div class="bottom_title"> Information</div>
        <ul>
            <li>&raquo;<%= link_to ' About Us ', aboutUs_path %> </li>
            <li>&raquo;<%= link_to ' Careers ', career_path %></li>
            <li>&raquo;<%= link_to ' Contact Us ', contact_us_path %> </li>
            <li>&raquo;<a href="#"> Site Map </a></li>
        </ul>
    </div>
    <div class="bottom_container">
        <div class="bottom_title"> Join Our Community</div>
        <ul>
            <li>&raquo;<a href="#"> Xyz</a></li>
            <li>&raquo;<a href="#"> Xyz</a></li>
            <li>&raquo;<a href="#"> Xyz</a></li>
            <li>&raquo;<a href="#"> Xyz </a></li>

        </ul>
    </div>
</div>
<div class="footer">
    <div class="footer_left"> All Rights Reserved @ Just For Me &copy; 2013.</div>
    <div class="footer_right">This is not the real twitter,it's just for practice, Created by Ahmad hasan khan.</div>
</div>